---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import AboutVesca from "../components/AboutVesca.astro";
import AboutUs from "../components/AboutUs.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Vesca">
  <main class="flex flex-col gap-y-6">
    <Home />
    <AboutVesca />
    <AboutUs />
    <Gallery />
  </main>
</Layout>
