<section class="section-container bg-zinc-50">
  <div class="max-w-section">
    <h2 class="text-2xl mb-8 md:text-3xl">El equipo detrás del proyecto</h2>
    <div
      class="flex flex-col gap-y-8 text-sm max-w-prose md:text-lg text-pretty"
    >
      <div class="rounded-xl">
        <p>
          Somos un grupo de estudiantes de la Escuela Secundaria Técnica Numero
          º1 de Monte Grande, cursando <strong class="text-indigo-700"
            >7mo año</strong
          > en las carreras de <strong class="text-indigo-700"
            >programación e informática.</strong
          >
        </p>
      </div>
      <div class="rounded-xl">
        <p>
          Nos propusimos retomar este proyecto que había sido iniciado en el <strong
            class="text-indigo-700">año 2023.</strong
          > Planificamos completar el proyecto lo <strong
            class="text-indigo-700">máximo posible.</strong
          >
        </p>
      </div>
    </div>
  </div>
</section>
