---
import { Image } from "astro:assets";
import Vescawork from "./public/vesca-photos/vesca-work.jpg";
import Vescawork2 from "./public/vesca-photos/vesca-work-2.jpg";
---

<section class="section-container bg-white">
  <div class="flex flex-col max-w-section">
    <div
      class="grid grid-cols-1 gap-y-12 gap-x-12 text-base md:text-lg lg:gap-y-24 lg:grid-cols-2 lg:items-center text-pretty !leading-relaxed"
    >
      <div class="flex flex-col gap-4">
        <h2 class="text-3xl">Diseño innovador</h2>
        <p>
          El <strong>VESCA</strong> es un vehículo eléctrico capaz de ser recargado
          con <strong>energía solar</strong> y ser conducido de manera <strong
            >autónoma.</strong
          >
        </p>
        <p>
          Se compone de un <strong>panel solar</strong> que transmite energía hacia
          las baterías.
        </p>
      </div>
      <div
        class="aspect-video w-full justify-self-center max-w-lg rounded-2xl lg:aspect-[4/3]"
      >
        <Image src={Vescawork} alt="" class="rounded-xl h-96" />
      </div>
      <div
        class="aspect-video w-full justify-self-center max-w-lg rounded-2xl lg:aspect-[4/3] row-start-4 lg:row-auto"
      >
        <Image src={Vescawork2} alt="" class="rounded-xl h-96" />
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-3xl">Autonomía</h2>
        <p>
          Contiene un sistema de <strong>freno automático</strong>, el cual al
          detectar un objeto u obstáculo al rededor de los 4 metros se activa,
          frenando el vehículo de <strong>manera controlada.</strong>
        </p>
        <p>
          También está programado para elegir el <strong>modo de manejo</strong
          >, si el usuario desea que el vehículo sea controlado por el.
        </p>
      </div>
    </div>
  </div>
</section>
