<section class="flex flex-col font-poppins p-4 md:p-8 lg:p-16">
  <h2 class="text-center text-2xl text-titlleColor font-bold mb-6 md:textl-3xl">
    Acerca del nosotros
  </h2>
  <div
    class="flex flex-col gap-y-6 text-textColor text-center text-sm md:text-lg lg:gap-y-10"
  >
    <div class="p-3 bg-[#EAEBF6] rounded-xl md:p-16">
      <p>
        Somos un grupo de estudiantes de la Escuela Secundaria Técnica Numero º1
        de Monte Grande, Cursando <strong class="text-strongText"
          >7mo año</strong
        > en las carreras de <strong class="text-strongText"
          >programación e informática.</strong
        >
      </p>
    </div>
    <div class="p-3 bg-[#EAEBF6] rounded-xl md:p-16">
      <p>
        Nos propusimos retomar este proyecto que había sido iniciado en el <strong
          class="text-strongText">año 2023.</strong
        > Planificamos completar el proyecto lo <strong class="text-strongText"
          >máximo posible.</strong
        >
      </p>
    </div>
  </div>
</section>
