<section class="flex flex-col font-poppins p-4 md:p-8 lg:p-20">
  <h2 class="text-center text-2xl text-titlleColor font-bold mb-6 md:text-3xl">
    Acerca del proyecto
  </h2>
  <div
    class="grid grid-cols-1 gap-6 text-textColor text-center text-sm md:text-lg lg:grid-cols-2 lg:gap-10 lg:text-start"
  >
    <div class="bg-[#EAEBF6] rounded-xl p-4 md:p-8 lg:bg-white">
      <p>
        El <strong class="text-strongText">VESCA</strong> es un vehículo eléctrico
        capaz de ser recargado con <strong class="text-strongText"
          >energía solar</strong
        > y ser conducido de manera <strong class="text-strongText"
          >autónoma.</strong
        >
      </p>
    </div>
    <div class="hidden p-36 border border-black rounded-xl lg:flex"></div>
    <div class="hidden p-36 border border-black rounded-xl lg:flex"></div>
    <div class="bg-[#EAEBF6] rounded-xl p-4 md:p-8 lg:bg-white">
      <p>
        Se compone de un <strong class="text-strongText">panel solar</strong> que
        transmite energía hacia las baterías. Contiene un sistema de <strong
          class="text-strongText">freno automático</strong
        >, el cual al detectar un objeto u obstáculo al rededor de los 4 metros
        se activa, frenando el vehículo de <strong class="text-strongText"
          >manera controlada.</strong
        >
      </p>
    </div>
  </div>
  <div class="my-6 p-3 bg-[#EAEBF6] text-textColor rounded-xl md:p-8 lg:my-10">
    <p>
      También está programado para elegir el <strong class="text-strongText"
        >modo de manejo</strong
      >, si el usuario desea que el vehículo sea controlado el.
    </p>
  </div>
</section>
