<section class="flex flex-col p-4 font-poppins md:p-8 lg:p-16">
  <h2 class="text-center text-2xl text-titlleColor font-bold mb-6">Galería</h2>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:gap-10 lg:grid-cols-3">
    <div class="p-20 border border-black rounded-xl lg:p-32"></div>
    <div class="p-20 border border-black rounded-xl lg:p-32"></div>
    <div class="p-20 border border-black rounded-xl lg:p-32"></div>
    <div class="p-20 border border-black rounded-xl lg:p-32"></div>
    <div class="p-20 border border-black rounded-xl hidden lg:flex lg:p-32">
    </div>
    <div class="p-20 border border-black rounded-xl hidden lg:flex lg:p-32">
    </div>
  </div>
</section>
