<section class="section-container">
  <div class="flex flex-col max-w-section w-full">
    <h2 class="text-center text-2xl mb-8 lg:mb-20 md:text-3xl lg:text-4xl">
      Galería
    </h2>
    <div
      class="grid w-full grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8 lg:grid-cols-3"
    >
      <div
        class="rounded-xl w-full h-full aspect-[4/3] lg:col-span-2 lg:aspect-[2/1]"
      >
        <img src="public/vesca3d-2.jpeg" alt="" class="rounded-xl" />
      </div>
      <div class="rounded-xl w-full h-full aspect-[4/3]">
        <img src="public/vesca-work.jpeg" alt="" class="rounded-xl" />
      </div>
      <div class="rounded-xl w-full h-full aspect-[4/3]">
        <img src="public/vesca-work-4.jpeg" alt="" class="rounded-xl" />
      </div>
      <div
        class="bg-indigo-500 rounded-xl w-full h-full aspect-[4/3] lg:col-span-2 lg:aspect-[2/1]"
      >
        <img src="public/vesca-acte.jpeg" alt="" class="rounded-xl" />
      </div>
      <div
        class="bg-indigo-600 rounded-xl w-full h-full aspect-[4/3] md:aspect-[8/3] md:col-span-2 lg:col-span-3 lg:aspect-[3/1]"
      >
        <img src="public/vesca3d.jpeg" alt="" class="rounded-xl" />
      </div>
    </div>
  </div>
</section>
