@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-container {
        @apply flex items-center justify-center px-8 py-16 bg-cover bg-no-repeat sm:p-16 lg:p-24;
    }
}

@layer utilities {
    .max-w-section {
        @apply max-w-5xl
    }
}